html {
  font-size: 62.5%; /* muutetaaan fonttikoko 62.5% x 16px = 10px --> käytä fonttikoon muuttamiseen bodyn sisällä yksikköä rem*/
}

body {
  font-family: "Cedarville Cursive", cursive;
  margin: 1rem;
}
h1,
p,
figure {
  margin-block-end: 1rem;
}
h1 {
  font-size: 3.2rem;
}
p {
  font-size: 1.6rem;
}
figure {
  display: block;
}
figure img {
  max-width: 100%;
}
